@import "tailwindcss";

/* 画像のスタイル */
.thumbnail-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.dark .theme-change {
  background: black;
  color: #fff;
}
.dark .theme-change-btn {
  background: #ffffff;
  color: black;
}
