@import "tailwindcss";

/* styles.css や globals.css など */
.site-title {
  @apply text-[#23282f] text-5xl font-bold
}
img {
  height: 100%;
  object-fit:cover;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}